USE [master]
GO
/****** Object:  Database [DoAnJava]    Script Date: 1/8/2021 8:21:48 PM ******/
CREATE DATABASE [DoAnJava]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoAnJava', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DoAnJava.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DoAnJava_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DoAnJava_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoAnJava].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoAnJava]
GO
/****** Object:  Table [dbo].[CT_DonHang]    Script Date: 1/8/2021 8:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DonHang](
	[id] [int] NOT NULL,
	[maSanPham] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[sdt] [nvarchar](50) NULL,
	[province] [int] NULL,
	[district] [int] NULL,
	[ward] [ntext] NULL,
	[ghichu] [ntext] NULL,
	[soLuong] [int] NULL,
	[thanhtien] [money] NULL,
	[ngaymua] [date] NULL,
	[trangthai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 1/8/2021 8:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[parent_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[district]    Script Date: 1/8/2021 8:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[district](
	[id] [int] NOT NULL,
	[district] [nvarchar](191) NULL,
	[type] [nvarchar](191) NULL,
	[province_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 1/8/2021 8:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[sdt] [varchar](20) NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[idkh] [varchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[province]    Script Date: 1/8/2021 8:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[province](
	[id] [int] NOT NULL,
	[province_name] [nvarchar](191) NULL,
	[type] [nvarchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanpham]    Script Date: 1/8/2021 8:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanpham](
	[maSanPham] [int] IDENTITY(1,1) NOT NULL,
	[name] [ntext] NULL,
	[price] [money] NULL,
	[discount] [money] NULL,
	[danhmuc] [int] NULL,
	[image_link] [varchar](50) NULL,
	[luotxem] [int] NULL,
	[buyed] [int] NULL,
	[hangsx] [nvarchar](50) NULL,
	[baohanh] [int] NULL,
	[trangthai] [int] NULL,
	[soLuongMua] [int] NULL,
	[content1] [ntext] NULL,
	[content2] [ntext] NULL,
	[content3] [ntext] NULL,
	[content4] [ntext] NULL,
	[content5] [ntext] NULL,
	[content6] [ntext] NULL,
	[content7] [ntext] NULL,
	[content8] [ntext] NULL,
	[content9] [ntext] NULL,
	[content10] [ntext] NULL,
 CONSTRAINT [PK__sanpham__5B439C43D6E169F9] PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhVien]    Script Date: 1/8/2021 8:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhVien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](55) NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[ngaysinh] [date] NULL,
	[gioitinh] [int] NULL,
	[sdt] [varchar](20) NULL,
	[province] [int] NULL,
	[district] [int] NULL,
	[ward] [nvarchar](50) NULL,
	[permission] [nchar](10) NULL,
 CONSTRAINT [PK_ThanhVien] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tintuc]    Script Date: 1/8/2021 8:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tintuc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[title] [nvarchar](500) NOT NULL,
	[image_link] [varchar](50) NOT NULL,
	[trailer] [text] NULL,
	[luotxem] [int] NULL,
	[ngaydang] [datetime] NULL,
	[content] [ntext] NULL,
	[content1] [ntext] NULL,
	[content2] [ntext] NULL,
	[content3] [ntext] NULL,
	[content4] [ntext] NULL,
	[content5] [ntext] NULL,
	[content6] [ntext] NULL,
	[content7] [ntext] NULL,
	[content8] [ntext] NULL,
	[image_link1] [varchar](50) NULL,
 CONSTRAINT [PK__tintuc__3213E83F13132538] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ward]    Script Date: 1/8/2021 8:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ward](
	[id] [int] NOT NULL,
	[ward] [nvarchar](191) NULL,
	[type] [nvarchar](191) NULL,
	[district_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CT_DonHang] ([id], [maSanPham], [name], [email], [sdt], [province], [district], [ward], [ghichu], [soLuong], [thanhtien], [ngaymua], [trangthai]) VALUES (1, 13, N'Phuongzaidep', N'1231312312@gmail.com', N'07911112', 2, 28, N'--Xã/Phu?ng--', N'123123', 2, 4684400.0000, CAST(N'2021-01-05' AS Date), 0)
INSERT [dbo].[CT_DonHang] ([id], [maSanPham], [name], [email], [sdt], [province], [district], [ward], [ghichu], [soLuong], [thanhtien], [ngaymua], [trangthai]) VALUES (2, 12, N'Phuongzaidep', N'1231312312@gmail.com', N'07911112', 20, 184, N'Xã Song Giang', N'eqwe', 1, 2055400.0000, CAST(N'2021-01-05' AS Date), 0)
INSERT [dbo].[CT_DonHang] ([id], [maSanPham], [name], [email], [sdt], [province], [district], [ward], [ghichu], [soLuong], [thanhtien], [ngaymua], [trangthai]) VALUES (2, 15, N'Phuongzaidep', N'1231312312@gmail.com', N'07911112', 20, 184, N'Xã Song Giang', N'eqwe', 1, 1392000.0000, CAST(N'2021-01-05' AS Date), 0)
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([id], [name], [parent_id]) VALUES (21, N'Linh kiện PC', 0)
INSERT [dbo].[DanhMuc] ([id], [name], [parent_id]) VALUES (22, N'Màn hình', 0)
INSERT [dbo].[DanhMuc] ([id], [name], [parent_id]) VALUES (23, N'Bàn phím', 0)
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
INSERT [dbo].[district] ([id], [district], [type], [province_id]) VALUES (1, N'Quận Ba Đình', N'Quận', 1)
INSERT [dbo].[district] ([id], [district], [type], [province_id]) VALUES (2, N'Quận Hoàn Kiếm', N'Quận', 1)
INSERT [dbo].[district] ([id], [district], [type], [province_id]) VALUES (3, N'Quận Tây Hồ', N'Quận', 1)
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([id], [name], [email], [sdt], [username], [password], [idkh]) VALUES (52, N'PhuongPhan chinh sua', N'phuongjav150@gmail.com', N'0123456789', N'phuongphan123', N'11111', N'null')
INSERT [dbo].[KhachHang] ([id], [name], [email], [sdt], [username], [password], [idkh]) VALUES (53, N'Phuong Phan', N'contact.gun2k2@gmail.com', N'1234567891', N'phuongne', N'12345', N'null')
INSERT [dbo].[KhachHang] ([id], [name], [email], [sdt], [username], [password], [idkh]) VALUES (54, N'Phương  Phan ', N'phuongjav88@gmail.com', N'null', N'null', N'null', N'10157409393892172')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[province] ([id], [province_name], [type]) VALUES (1, N'Thành phố Hà Nội', N'Thành phố Trung ương')
INSERT [dbo].[province] ([id], [province_name], [type]) VALUES (2, N'Tỉnh Hà Giang', N'Tỉnh')
INSERT [dbo].[province] ([id], [province_name], [type]) VALUES (4, N'Tỉnh Cao Bằng', N'Tỉnh')
GO
SET IDENTITY_INSERT [dbo].[sanpham] ON 

SET IDENTITY_INSERT [dbo].[sanpham] OFF
GO
SET IDENTITY_INSERT [dbo].[ThanhVien] ON 

INSERT [dbo].[ThanhVien] ([id], [name], [email], [password], [ngaysinh], [gioitinh], [sdt], [province], [district], [ward], [permission]) VALUES (70, N'12312312', N'phuongjav150@gmail.com', N'11111', CAST(N'2020-12-28' AS Date), 1, N'123123123123123', 4, 43, N'Xã Khánh Xuân', N'full      ')
INSERT [dbo].[ThanhVien] ([id], [name], [email], [password], [ngaysinh], [gioitinh], [sdt], [province], [district], [ward], [permission]) VALUES (73, N'Phan Hoài Phuong', N'phuon123123@gmail.com', N'22222', CAST(N'2020-12-01' AS Date), 1, N'123123123', 12, 109, N'Xã Tông Qua Lìn', NULL)
SET IDENTITY_INSERT [dbo].[ThanhVien] OFF
GO
SET IDENTITY_INSERT [dbo].[tintuc] ON 

SET IDENTITY_INSERT [dbo].[tintuc] OFF
GO
INSERT [dbo].[ward] ([id], [ward], [type], [district_id]) VALUES (1, N'Phường Phúc Xá', N'Phường', 1)
INSERT [dbo].[ward] ([id], [ward], [type], [district_id]) VALUES (4, N'Phường Trúc Bạch', N'Phường', 1)
INSERT [dbo].[ward] ([id], [ward], [type], [district_id]) VALUES (6, N'Phường Vĩnh Phúc', N'Phường', 1)
GO
ALTER TABLE [dbo].[CT_DonHang]  WITH CHECK ADD  CONSTRAINT [FK_CT_DonHang_sanpham] FOREIGN KEY([maSanPham])
REFERENCES [dbo].[sanpham] ([maSanPham])
GO
ALTER TABLE [dbo].[CT_DonHang] CHECK CONSTRAINT [FK_CT_DonHang_sanpham]
GO
USE [master]
GO
